<%- include('layout/header') %>

  <!-- Search Section Only -->

  <nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
    id="layout-navbar">

    <div class="container-xxl d-flex align-items-center bg-navbar-theme p-3">
      <div class="navbar-nav align-items-center me-auto">
        <div class="nav-item d-flex align-items-center">
          <span class="w-px-22 h-px-22">
            <i class="icon-base bx bx-search icon-md"></i>
          </span>
          <form action="/admin/viewAdmin" class="d-flex align-items-center justify-content-center">
            <input value="<%= search %>" type="text"
              class="form-control border-0 shadow-none ps-1 ps-sm-2 d-md-block d-none" placeholder="Search..."
              aria-label="Search..." name="searchAdmin" />
            <button type="submit" class="btn btn-primary ">search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">



    </div>
  </nav>


  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- Basic Bootstrap Table -->
      <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>NO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">

              <% let i=1 %>
                <% for(var admin of adminData) { %>

                  <!-- <tr onclick="window.location.href='/admin/<%= admin.id %>'" style="cursor:pointer;"> -->
                  <tr>

                    <td data-bs-toggle="modal" data-bs-target="#modal_<%= admin._id %>" style="cursor:pointer;">
                      <%= i++ %>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#modal_<%= admin._id %>" style="cursor:pointer;">
                      <%= admin.name %>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#modal_<%= admin._id %>" style="cursor:pointer;">
                      <%= admin.email %>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#modal_<%= admin._id %>" style="cursor:pointer;">
                      <%= admin.phone %>
                    </td>
                    <!-- <td>
                      <img src="<%= admin.profile %>" alt="" height="100px">
                    </td> -->
                    <td>
                      <!-- <% if(admin.status==true){ %>
                        <a href="/admin/inactive/<%= admin.id %>" class="badge bg-label-primary me-1">Active</a>
                        <% }else { %>
                          <a href="/admin/inactive/<%= admin.id %>" class="badge bg-label-danger me-1">Inactive</a>
                          <% } %> -->
                      <a href="/admin/inactive/<%= admin.id %>"
                        class="badge me-1 <%= admin.status ? 'bg-label-primary' : 'bg-label-danger' %>">
                        <%= admin.status ? 'Active' : 'Inactive' %>
                      </a>

                    </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="icon-base bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/admin/updateAdminDetails/<%= admin.id %>"><i
                              class="icon-base bx bx-edit-alt me-1"></i> Edit</a>
                          <a class="dropdown-item" href="/admin/deleteAdminDetails/?adminId=<%= admin.id %>"><i
                              class="icon-base bx bx-trash me-1"></i>
                            Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>



                  <!-- <% } %>
                    <tr>
                      <td colspan="6">
                        <% for (let pagination=0; pagination<totalPage; pagination++){ %>
                          <a href="?page=<%= pagination %>&adminSearch<%= search %>"><button>
                              <%= pagination+1 %>
                            </button></a>
                          <% } %>
                      </td>
                    </tr> -->
                    
                    <td colspan="6">
                      <% let currentPage=parseInt(page); %>
                        <% let prevPage=currentPage - 1; %>
                          <% let nextPage=currentPage + 1; %>

                            <% if (prevPage>= 0) { %>
                              <a href="?page=<%= prevPage %>&adminSearch=<%= search %>"><button>Prev</button></a>
                              <% } else { %>
                                <button disabled>Prev</button>
                                <% } %>

                                  <button >
                                    <%= currentPage + 1 %>
                                  </button>

                                  <% if (nextPage < totalPage) { %>
                                    <a href="?page=<%= nextPage %>&adminSearch=<%= search %>"><button>Next</button></a>
                                    <% } else { %>
                                      <button disabled>Next</button>
                                      <% } %>
                    </td>

            </tbody>
          </table>

          <%- include('adminDetails') %>

        </div>
      </div>
      <!--/ Basic Bootstrap Table -->

    </div>
    <!-- / Content -->


    <%- include('layout/footer') %>